.run_query_button {
    border: 0.1rem solid;
    border-radius: 0.1rem;
    color: var(--md-primary-fg-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0.625em 2em;
    transition: color 125ms,background-color 125ms,border-color 125ms;
    margin-left: auto;
}
